header{
    display: flex;
    background-color: rgb(109, 108, 108);
    border: 1px solid black;
    height: 5%;
    justify-content: center;
    padding-top: 2%;
}
footer{
    display: flex;
    border: 1px solid black;
    height: 5%;
    justify-content: center;
    padding-top: 2%;
}
.left{
    float: left;
    width: 15%;
    text-align: center;
    background-color: rgb(165, 165, 165);
    height: 20%;
}
.main{
    float: left;
    width: 70%;
    text-align: center;
    height: 20%;
}
.right{
    float: left;
    width: 15%;
    text-align: center;
    background-color: rgb(165, 165, 165);
    height: 20%;
}